@font-face {
  font-family: "GrtskGiga";
  src: url(./fonts/GrtskGiga-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GrtskGiga";
  src: url(./fonts/GrtskGiga-Semibold.woff2);
  font-style: normal;
  font-weight: 600;
}
